.container{
    height: 3000px;
    width: 100%;
    border: solid 0px black;
    position: relative;
    top: 0px;
}
.header{
    position: fixed;
    height: 110px;
    width: 100%;
    border: solid 0px gray;
    top: 0px;
    left: 0px;
    box-shadow: rgb(179, 177, 177) 2px 2px 2px 2px;
    background-color: white;
}
.h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    top: 0px;
}
.b1{
    position: fixed;
    top: 0px;
    height: 30px;
    width: 100%;
    background-color: rgb(247, 199, 80);
    border: 0px;
}
.header-list{
    position: absolute;
    top: 10px;
}
.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .line, .l9, .l10{
    position: absolute;
    top: 45px;
}
.l1{
    left: 20px;
    top: 55px;
}
.l2{
    left: 50px;
}
.l3{
    left: 250px;
}
.l4{
    left: 350px;
}
.l5{
    left: 470px;
}
.l6{
    left: 640px;
}
.l7{
    left: 750px;
}
.l8{
    left: 970px;
}
.l9{
    left: 1165px;
}
.line{
    top: 25px;
    left: 1140px;
}
.l10{
    left: 1250px;
}
.bg{
    position: absolute;
    top: 60px;
    right: 0px;
}
.box{
    position: absolute;
    border: 0px;
    box-shadow: rgb(194, 192, 192) 2px 2px 5px 5px;
    height: 370px;
    width: 350px;
    top: 200px;
    left: 100px;
    border-radius: 10px;
}
.h1{
    position: absolute;
    left: 20px;
}
.h2{
    position: absolute;
    left: 20px;
    top: 50px;
}
.date{
    position: absolute;
    top: 100px;
    left: 20px;
}
.time{
    position: absolute;
    top: 100px;
    right: 20px;
}
.h3{
    position: absolute;
    top: 150px;
    left: 20px;
}
.date2{
    position: absolute;
    top: 200px;
    left: 20px;
}
.time2{
    position: absolute;
    top: 200px;
    right: 20px;
}
.search{
    position: absolute;
    top: 280px;
    left: 22px;
}
.save{
    position: absolute;
    height: 37px;
    width: 100%;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.493);
    top: 670px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 19px;
}
.para{
    position: absolute;
    right: 15px;
    top: -9px;
}
.facilities{
    position: absolute;
    top: 720px;
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
}
.t{
    position: absolute;
    font-family: sans-serif;
    font-size: 17px;
    top: 7px;
}
.bg2{
    position: absolute;
    top: 755px;
}
.sub{
    position: absolute;
    top: 570px;
    left: 400px;
}
.fleet{
    font-family: sans-serif;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: 1390px;
    left: 600PX;
    color: black;
}
.ul{
    position: absolute;
    color: rgb(247, 199, 80);
    left: 45px;
    top: 45px;
}
.duration{
    position: absolute;
    right: 80px;
    top: 1500px;
}
.bikes{
    position: absolute;
    top: 1650px;
    width: 85%;
    left: 7.5%;
    display: flex;
    justify-content: space-evenly;
}
.bike1, .bike2, .bike3, .bike4{
    height: 320px;
    width: 250px;
    border: solid 2px rgb(240, 237, 237);
    background-color: rgb(240, 237, 237);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(223, 223, 223);
   
}
.t1, .t2, .t3, .t4{
    font-family: sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 0px;
}
.book{
    position: absolute;
    top: 282px;
    height: 40px;
    width: 250px;
    background-color: rgb(247, 199, 80);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.view{
    position: absolute;
    top: 0px;
    height: 322px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.342);
    border: solid 0px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
}
.th1, .th2, .th3, .th4{
    position: absolute;
    top: 0px;
    font-family: sans-serif;
    font-weight: bold;
    left: 85px;
}
.th2{
    left: 360px;
}
.th3{
    left: 620px;
}
.th4{
    left: 900px;
}
.text{
    position: absolute;
    top: 340px;
}
.box2{
    position: absolute;
    top: 400px;
    border: 0px solid black;
    height: 700px;
    width: 1350px;
}

.ul2{
    position: absolute;
    color: rgb(247, 199, 80);
    left: 555px;
    top: 125px;
    font-weight: bolder;
}
.parah1{
    position: absolute;
    top: 270px;
    left: 60px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: boldj;
}
.para1{
    position: absolute;
    top: 320px;
    left: 60px;
    font-family: sans-serif;
    font-size: 17px;
    color: rgb(82, 82, 82);
}
.slide1{
    position: absolute;
    right: 0px;
    top: 40px;
}
.box3{
    position: absolute;
    top: 1200px;
    border: solid 0px black;
    height: 500px;
    width: 1350px;
}
.h3{
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 28px;
    left: 580px;
    top: 70px;
}
.ul3{
    position: absolute;
    color: rgb(247, 199, 80);
    left: 60px;
    top: 40px;
    font-weight: bolder;
}
.blocks{
    position: absolute;
    top: 160px;
    left: 40px;
    align-content: center;
}
.block1, .block2, .block3, .block4{
    position: absolute;
    height: 100px;
    width: 300px;
    border: solid 1px gray;
}
.block1{
    position: absolute;
    left: 50px;
}
.block2{
    position: absolute;
    left: 350px;
}
.block3{
    position: absolute;
    left: 650px;
}
.block4{
    position: absolute;
    left: 950px;
}
.footer1{
    position: absolute;
    top: 3450px;
    border: solid 2px rgb(44, 44, 44);
    height: 480px;
    width: 100%;
    background-color: rgb(44, 44, 44);
}
.fl1{
    position: absolute;
    top: 50px;
    left: 50px;
}
.footerlinks{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}
.fl1, .fl2, .fl3, .fl4{
    position: absolute;
    top: 100px;
}
.fl1{
    position: absolute;
    left: 50px;
}
.fl2{
    position: absolute;
    left: 400px;
}
.fl3{
    position: absolute;
    left: 700px;
}
.fl4{
    position: absolute;
    left: 1000px;
}